*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#menu-top {
    background-color: rgb(244, 244, 244);
    padding: 13px 13px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}
#menu-top-mail {
    color: rgb(0, 174, 239);
    margin: 5px;
    cursor: pointer;
}
#menu-top b {
    color: rgb(133, 133, 133);
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
}
#menu-top b:hover {
    color: rgb(0, 174, 239);
    transition: .2s ease;
}
#main-menu{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 18px 18px;
}
#main-menu img {
    height: 50px;
    cursor: pointer;
}
#booking-now {
    color: white;
    background-color: rgb(0, 174, 239);
    border: 1px rgb(0, 174, 239);
    height: 40px;
    width: 140px;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
}
#booking-now:hover {
    background-color: white;
    cursor: pointer;
    border: 2px solid rgb(0, 174, 239);
    color: rgb(0, 174, 239);
    transition: 0.3s ease;
}
#menu-bar {
    font-size: 35px;
    color: rgb(133, 133, 133);
    cursor: pointer;
}
#main{
    background-image: url(img/main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:100vh;
    max-height: 100%;
    background-attachment: fixed;
}
#mainbgcolor{
    background: rgba(1, 8, 49, 0.659);
    width: 100%;
    height:100%;
}
#mainbgcolor h1{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: montserrat, sans-serif;
    padding-top: 230px;
}
#mainbgcolor p{
    color: rgb(226, 227, 232);
    text-align: center;
    font-family: montserrat, sans-serif;
}
#get-started{
    padding: 15px 15px;
    text-transform: uppercase;
    background-color: rgb(0, 174, 239);
    border: 2px solid rgb(0, 174, 239);
    color: white;
    border-radius: 3px;
    font-family: montserrat, sans-serif;
}
#get-started:hover {
    border: 2px solid rgb(0, 174, 239);
    color: rgb(0, 174, 239);
    background-color: transparent;
    transition: .3s ease;
    cursor: pointer;
}
#contact-us{
    padding: 15px 15px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid rgb(0, 174, 239);
    color: rgb(0, 174, 239);
    border-radius: 3px;
    font-family: montserrat, sans-serif;
    cursor: pointer;
}
#main2png{
    width: 100%;
    padding: 60px 20px;
}
#about-us-container{
    width: 100%;
}
#about-us{padding: 15px 15px;}

#about-us h1{
    font-size: 5vw;
    font-family: montserrat, sans-serif;
}
#about-us p{
    color: rgb(158, 160, 158);
}
.about-us-exp{
    font-family: montserrat, sans-serif;
}
.percent{
    float: right;
}
#about-us-exp-logo{
    color: rgb(0, 174, 239);
    display: block;
    margin: auto;
    font-size: 70px;
}
.logo-number{
    text-align: center;
    color: black;
    font-size: 40px;
}
.logo-text{
    text-align: center;
    font-size: 20px;

}
    #desktop-menu ul{
        display: none;
        font-weight: bold;
    }
#main2pngdesk{display: none;}
#about-us-container{display: none;}
.logo-container{display: none;}


#price{
    background-color: white;
    padding: 20px 20px;
}
#price h1{
    text-align: center;
    font-family: montserrat, sans-serif;
}
#button-text{
    text-align: center;
}
#price-button {
    color: white;
    background-color: rgb(0, 174, 239);
    border: 1px rgb(0, 174, 239);
    height: 40px;
    width: 140px;
    border-radius: 3px;
    text-transform: uppercase;
}
#price-button:hover {
    background-color: white;
    cursor: pointer;
    border: 2px solid rgb(0, 174, 239);
    color: rgb(0, 174, 239);
    transition: 0.3s ease;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-family: montserrat, sans-serif;
    margin: 20px 0px;
    height: 600px;
}
tr, th, td{
    border: 8px solid rgb(255, 255, 255);
    border-radius: ;
    color: rgb(139, 139, 139);
}

th{
    padding: 10px;
    text-align: left;
    color: #fff;
    background-color: rgb(0, 174, 239);
    font-size: 15px;
}

td{
    padding: 10px;
    background-color: rgb(244, 244, 244);
}

#book{
    background-image: url(img/book1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:80vh;
    max-height: 100%;
    background-attachment: fixed;
}
#bookbgcolor{
    background: rgba(1, 8, 49, 0.659);
    width: 100%;
    height:100%;
    padding: 20px 20px;
    text-align: center;
}
#bookbgcolor h1{
    color: white;
    text-align: center;
    font-size: 2em;
}
#bookbgcolor input , select, textarea{
    color: white;
    background-color: rgb(19, 30, 57);
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(19, 30, 57);
    border-radius: 4px;
}
#booknow{text-align: center;}
.dentist{
    width: 100%;
    height: 100px;
    text-align: center;
}
.doctor{
    max-width: 100%;
    border-radius: 10px;
    min-height: 300px;
    margin: 0px 0px 60px 0px;
}
#client{
    background-image: url(img/clientab.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    background-attachment: fixed;
}
#clientphoto {
    background: rgba(1, 8, 49, 0.659);
    width: 100%;
    height:100%;
    padding: 90px;
}
#clientphoto img{
    border-radius: 50%;
    height: 80%;
    width: 15%;
    float: left;
}
#clientphoto h3{
    color: white;
    text-align: left;
    font-family: montserrat, sans-serif;
}
#clientphoto h4{
    color: white;
    text-align: left;
}
#news{
    padding: 40px;
    justify-content: center;
    gap: 60px;
}
#news-head {
    font-family: montserrat;
    text-align: center;
}
.dentnews{
    width: 100%;
    height: 450px;
    border: 1px solid gray;  
    border-radius: 10px;
    box-shadow: -1px 0px 19px 0px rgba(127,126,126,0.75);
    margin: 0px 0px 40px 0px;
}
.dentnews img{
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
}
.denttext h3 {
    font-family: montserrat;
    padding: 20px 0px 10px 0px;
}
.denttext p {
    font-family: montserrat;
    font-size: 15px;
    padding: 0px 15px;
}
.time-comment {
    color: blue;
    cursor: pointer;
}
.container{
    background-image: url(img/clientab.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}
#dento-bg {
    background: rgba(1, 8, 49, 0.659);
    width: 100%;
    height:100%;
    padding: 50px 50px 10px 10px;
}
#dento p{
    text-align: left;
    color: white;
    font-family: montserrat;
    font-size: 12px;
}
#opening h3{
    text-align: left;
    color: white;
    font-family: montserrat;
}
#quick-link h3{
    text-align: left;
    color: white;
    font-family: montserrat;
}
#newsletter h3{
    text-align: left;
    color: white;
    font-family: montserrat;
}
#newsletter p{
    text-align: left;
    color: white;
    font-family: montserrat;
    font-size: 12px;
}
#quick-link p:hover{
    color: rgb(0, 170, 230);
    transition: .5s ease;
}
.time {
    display: flex;
    justify-content: space-between; /* biri sola, biri sağa gedir */
    width: 100%;
    text-align: left;
    color: white;
    font-family: montserrat;
    font-size: 13px;
}
#form{
    width: 100%;
    height: 45px;
    border-radius: 6px;
    text-align: center;
    border: 0px;
}
#menu-top-social {
    font-size: 26px;
    align-items: center;
    color: cyan;
}
#menu-top-social:hover {
    transition: .3s ease;
    color: blue;
    cursor: pointer;
}









@media only screen and (min-width: 768px) {
    #menu-bar{
    display: none;
}
#desktop-menu ul{
    display: flex;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    gap:70px;
    cursor: pointer;
    list-style: none;
}
#about-us-container{
    display: flex;
    padding: 80px 200px;
}
#about-us-textd h1{
    font-size: 50px;
    padding-left: 20px;
}
#about-us-textd p{
    font-size: 20px;
    padding-left: 20px;
}
#about-us-exp-logo{
    display: ;
}
.logo-container i p{
    font-size: 20px;
    color: black;
    width: 100px;
    text-align: center;
}
#price{
    padding: 130px 130px;
}
#bookbgcolor input , select, textarea{
    width: 50%;
    padding: 12px;
    margin: 10px;
}
.dentist{
    width: 100%;
    height: 100px;
}
.doctor{
    height: 300px;
    max-width: 500px;
    border-radius: 10px;
    min-height: 300px;
    justify-content: center;
    margin-left: 20px;
}
#news {display: flex;
}.dentnews {width: 25%;}




#dento-bg {
    background: rgba(1, 8, 49, 0.659);
    height:100%;
}
#dento p{
    color: white;
    font-family: montserrat;
    font-size: 12px;
}
#opening h3{
    color: white;
    font-family: montserrat;
}
#quick-link h3{
    color: white;
    font-family: montserrat;
}
#quick-link p:hover{
    color: rgb(0, 170, 230);
    transition: .5s ease;
}
.time {
    display: flex;
    justify-content: space-between; /* biri sola, biri sağa gedir */
    color: white;
    font-family: montserrat;
    font-size: 13px;
}
#dento-bg {
    display: flex;
    gap: 40px;
}





.dentcontainer{display: flex; gap: 30px;}
.logo-container{display: flex;}
#desktop-menu ul{max-width: 50%;}
#about-us-perc-desk {margin-left: 50px;}
#about-us-desk-text{margin-left: 30px;}
#about-us-textd h1 {margin-left: 20px;}
#about-us-perc-desk h4{font-size: 20px;}
#main2png{display: none;}
#main2pngdesk{display: inherit;}
#about-us{display: none;}
}
